.payment-button {
    display: inline-block;
    background: #ffc439;
    border-radius: 6.25rem;
    min-height: 1.625rem;
    -webkit-box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, .41);
    box-shadow: inset 0 2px 0 0 hsla(0, 0%, 100%, .41);
    border: 1px solid #d9a630;
    color: #000;
    font-family: Helvetica;
    font-size: .875rem;
    font-weight: 700;
    padding: 0 1rem;
    min-width: 7.5rem;
    margin-bottom: 0.25rem;
}

#card-options-id {
    background-color: aliceblue;
}